<!DOCTYPE html>
<html>
  <head>
    <title>Lodyssee</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar <%= yield(:navbar_class) %>">
      <div class="nav-logo">
        <%= link_to "/", class: "navbar-brand" do %>
          <%= image_tag "lodyssee-new.png", class: "navbar-logo" %>
        <% end %>
      </div>
      <div class="nav-links">
        <a href="/restaurante">Restaurante</a>
        <a href="/habitacions">Habitacions</a>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
